<h1>Edit a Task</h1>

<%= form_for @mytask, url: update_path, method: 'put' do |f| %>
  <label>Title:</label><br>
  <%= text_field_tag :title, @mytask.title %><br>

  <label>Description</label><br>
  <%= text_area_tag :description, @mytask.description %><br>

  <%= check_box_tag(:completed, checked = true) %>
  <%= label_tag(:completed, "Done!") %>

  <br>

  <%= submit_tag "Submit Task Updates" %>
<% end %>
