<h3>Task <%= @mytask.id %>: <%= @mytask.title %></h3>
<p>Need to: <%= @mytask.description %></p>
  <% if !@mytask.completed %>
    <p>Status: "Open"</p>
    <% else %>
  <p>Status: "Complete!" </p>
  <p>Completed at: <%= @mytask.completed_at %></p>
  <% end %>

  <p> <%=link_to( "Edit Task", edit_path(@mytask.id)) %></p>


  <p><%= button_to "Delete Task", {action: "destroy", id: @mytask.id }, method: :delete, data: {confirm:"Are you Sure?" } %></p>
