<h3>Task <%= @mytask.id %>: <%= @mytask.title %></h3>
<p>Need to: <%= @mytask.description %></p>
  <% if !@mytask.completed %>
    <p>Status: <%= "Open" %></p>
    <% else %>
  <p>Status: <%= "Complete!" %></p>
  <% end %>
