<h3>Task <%= @mytask.id %>: <%= @mytask.title %></h3>
<p>Need to: <%= @mytask.description %></p>
  <% if !@mytask.completed %>
    <p>Status: <%= "Open" %></p>
    <% else %>
  <p>Status: <%= "Complete!" %></p>
  <% end %>

  <% if @mytask.id > 1  %>
    <h3><%=link_to( "Previous Task", show_path(@tasks[@mytask.id - 2])) %></h3>
  <% end %>

  <% if @mytask.id < @tasks.last.id  %>
    <h3><%=link_to( "Next Task", show_path(@tasks[@mytask.id])) %></h3>
  <% end %>
