<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <nav>
        <ul>
            <li><%= link_to "Home", users_index_path %></li>
            <li><%=link_to( "New", tasks_new_path) %></li>
            <% if session[:user_id] == nil %>
              <li><%= link_to "Login", "/auth/github" %></li>
              <% else %>
              <li><%= link_to "Logout", session_delete_path(session[:user_id]), method: :delete, data: {confirm:"End your session?"} %></li>
          <% end %>
        </ul>
      </nav>
  </header>
  <div id="main">
    <%= yield %>
  </div>

</body>
</html>
